stages:
  - deploy

deploy_production:
  stage: deploy
  only:
    - main
  script:
    # - whoami
    # - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
    # - eval $(ssh-agent -s)
    # - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    # - ssh-keygen -R app.{{ domain_name }}
    - ssh -o StrictHostKeyChecking=no kulikov@app.{{ domain_name }} sudo chown kulikov /var/www/{{ domain_name }}/wordpress/ -R
    - rsync -rvz -e "ssh -o StrictHostKeyChecking=no" ./* kulikov@app.{{ domain_name }}:/var/www/{{ domain_name }}/wordpress/
    - ssh -o StrictHostKeyChecking=no kulikov@app.{{ domain_name }} rm -rf /var/www/{{ domain_name }}/wordpress/.git
    - ssh -o StrictHostKeyChecking=no kulikov@app.{{ domain_name }} sudo chown www-data /var/www/{{ domain_name }}/wordpress/ -R