<VirtualHost *:{{ http_port }}>
    DocumentRoot /var/www/{{ http_host }}/wordpress
    ServerName {{ http_host }}
    ServerAlias www.{{ http_host }} app.{{ http_host }}
    ServerAdmin www-data@localhost
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    Header always set Content-Security-Policy "default-src 'self' {{ domain_name }};"

    <Directory /var/www/{{ http_host }}>
        Options -Indexes
        AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm
    </IfModule>

</VirtualHost>