---
# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ["localhost:9093"]

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "alerts.yml"
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "nodes"
    scrape_interval: 5s
    static_configs:
      - targets:
        - "{{ domain_name }}:9100"
        - "app.{{ domain_name }}:9100"
        - "db01.{{ domain_name }}:9100"
        - "db02.{{ domain_name }}:9100"
        - "gitlab.{{ domain_name }}:9100"
        - "runner.{{ domain_name }}:9100"
        - "monitoring.{{ domain_name }}:9100"

  - job_name: "mysql"
    scrape_interval: 5s
    static_configs:
      - targets:
        - "db01.{{ domain_name }}:9104"
        - "db02.{{ domain_name }}:9104"
