server_tokens off;

server {
    listen 80;
    server_name {{ domain_name }};
    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }
    location / {
        rewrite ^ https://{{ domain_name }}$request_uri? permanent;
    }
}

{% if domains_nginx is defined %}
    {% for item in domains_nginx %}
    server {
        listen 80;
        server_name {{ item }}.{{ domain_name }};
        location /.well-known/acme-challenge {
            root /var/www/letsencrypt;
            try_files $uri $uri/ =404;
        }
        location / {
            rewrite ^ https://{{ item }}.{{ domain_name }}$request_uri? permanent;
        }
    }
    {% endfor %}
{% endif %}